<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-3.2.xsd"
        >
        
	<!-- 组件扫描 -->
	<context:component-scan base-package="com.feng.surveypark.dao.impl
	,com.feng.surveypark.service.impl,com.feng.surveypark.struts2.action
	,com.feng.surveypark.listener"/>
	<!-- 分散配置 --> 
	 <context:property-placeholder location="classpath:jdbc.properties"/>
	 
	<!-- 数据源 主库  数据池c3p0 -->
	<bean id="dataSource_main" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />		
		<property name="maxPoolSize" value="${c3p0.pool.size.max}"/>
		<property name="minPoolSize" value="${c3p0.pool.size.min}" />
		<!-- 初始值  -->
		<property name="initialPoolSize" value="${c3p0.pool.size.ini}" />
		<!-- 增量值 -->
		<property name="acquireIncrement" value="${c3p0.pool.size.increment}" />
	</bean>
	
	<!-- 数据源 从库 -->
	<bean id="dataSource_1" parent="dataSource_main">
		<property name="jdbcUrl" value="${jdbc.url_1}" />
	</bean>
	
	<!-- 数据库路由器 -->
	<bean id="dataSource_router" class="com.feng.surveypark.datasource.SurveyParkDateSourceRouter">
		<property name="targetDataSources">
			<map>
				<entry key="odd" value-ref="dataSource_main" />			
				<entry key="even" value-ref="dataSource_1" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSource_main"/>
	</bean>
	
	
	<!-- 本地会话工厂, spring整合hibernate 核心入口 -->
	<bean id = "sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource_router"/>
		<!--指定配置文件-->
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
		<!-- 映射文件目录 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/feng/surveypark/domain</value>
			</list>
		</property>
		
		
	</bean>
	
	<!-- 事物管理器,在service层面行实现事物管理而不是dao层 -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置事物通知   -->
	<!-- propagation:产生过程,传播特性
			默认:REQUIRED:如果有了Transaction(事物)就使用,没有就新建
	  -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="betch*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="new*" propagation="REQUIRED" isolation="DEFAULT"/>
			
			<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
			<tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
			<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
			
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" />		
		</tx:attributes>
	</tx:advice>
	
	
	<!-- 日志记录器 -->
	<bean id="logger" class="com.feng.surveypark.advice.Logger">
		<property name="logService" ref="logService"/>
	</bean>
	 
	 
	<!-- 缓存相关  -->
	<!-- 缓存管理器工厂 -->
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
	</bean>
	<!-- EhCache缓存管理器 -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcache" />
	</bean>
	<!-- 启用缓存注解开关 -->
	<cache:annotation-driven cache-manager="cacheManager" />

	<!-- 自定义缓存key生成器 -->
	<bean id="surveyKeyGenerator" class="com.feng.surveypark.cache.SurveyKeyGenerator"></bean>
	<!-- 缓存通知 -->
	<cache:advice id="cacheAdvice" cache-manager="cacheManager"
					 key-generator="surveyKeyGenerator">
		<cache:caching cache="surveyCache">
			<!-- 添加缓存 -->
			<cache:cacheable method="get*"/>  
			<cache:cacheable method="load*"/>
			<cache:cacheable method="find*"/>
			<cache:cacheable method="is*"/>
			
			<!-- 移除缓存, all-entries 移除所有条目-->
			<cache:cache-evict method="save*" all-entries="true"/>
			<cache:cache-evict method="update*" all-entries="true"/>
			<cache:cache-evict method="delete*" all-entries="true"/>
			<cache:cache-evict method="batch*" all-entries="true"/>
		</cache:caching>
	</cache:advice>
	
	
	
	<!-- aop配置 -->
	<aop:config>
		<!-- 事物切入点 pointcut切入点(织入点)-->
		<aop:pointcut expression="execution(* *..*Service.*(..))" id="txPointcut"/>
		<!-- 日志切入点	-->			
		<aop:pointcut expression="(execution(* *..*Service.save*(..))
								or execution(* *..*Service.update*(..))
								or execution(* *..*Service.delete*(..))
								or execution(* *..*Service.batch*(..))
								or execution(* *..*Service.new*(..))
								or execution(* *..*Service.clear*(..))
								) and !bean(logService)" 
							id="logPointcut"/>
							
		<!-- 缓存切入点 只限于SurveyService的方法-->
		<aop:pointcut expression="execution(* com.feng.surveypark.service.impl.SurveyServiceImpl.*(..))" 
								id="cachePointcut"/>	
								
												
		<!-- 事物通知器  advice(通知器) -->	 	
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" order="2"/>
		 
		 <!-- 缓存通知器 -->	
		<aop:advisor advice-ref="cacheAdvice" pointcut-ref="cachePointcut" order="0"/>
		 
		<!-- 配置日志切面 aspect切面 -->
		<aop:aspect id="loggerAdvisor" ref="logger" order="1">
			<aop:around method="record" pointcut-ref="logPointcut"/>
		</aop:aspect>
		
		
		
	</aop:config>
	
	
</beans>